body{
    background-color: cornflowerblue;
}.heading{
    font-size:27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:blueviolet;
    background-color:darkorange;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px grey;
}
.note{
    font-size: 15px;
    color:blueviolet;

}
.copy_right_footer{
    position:fixed;
    color:cadetblue;
    bottom:0;
    width:100%;
    background-color: bisque;
    line-height:3;
    text-align:center;

}
canvas{
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
}